@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fcfcfc;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* NEW COLORS */
  --h-info: #3183ff;
  --h-success: #61b449;
  --h-yellow: #edd92a;
  --h-error: #ff5252;
  --h-primary: #233145;
  --h-secondary: #8e98a7;
  --h-gray: #dfe5f1;
  --h-white: #ffffff;
}

a {
  text-decoration: none;
}

html,
body,
:root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fbfcfd;
  color: #1a1a1a;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.Mui-error {
  color: var(--h-red-40) !important;
}

.darktheme > .MuiInputBase-input {
  color: white !important;
}

.darktheme > .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23) !important;
}

.multiline .MuiInputBase-root {
  background-color: #fff !important;
  min-height: 31px !important;
  padding: 12px;
  height: fit-content !important;
  border-radius: 8px 8px !important;
}

.customInput .MuiOutlinedInput-input {
  border-radius: 8px;
  height: 14px;
}

.customInput .MuiInputLabel-animated {
  color: var(--h-light) !important;
  top: -4px;
}

.customInput .MuiInputLabel-shrink {
  color: var(--h-blue-40) !important;
  top: 0px;
}

.MuiAccordion-root::before {
  display: none !important;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #dfe5f1;
  border-radius: 4px;
  background-color: #fafafa;
  outline: none;
  cursor: pointer;
}

.checkbox-input:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #dfe5f1;
  border-radius: 4px;
  background-color: #fafafa;
  outline: none;
  cursor: pointer;
  background-color: var(--h-success);
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--h-gray-40);
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dfe5f1;
}

@layer utilities {
  .showContainer {
    @apply transition duration-300 opacity-100;
  }

  .hiddeContainer {
    @apply transition duration-300 opacity-0;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-dark-4 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  .shad-textarea {
    @apply h-36 bg-dark-3 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-light-1 flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}
