@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #FCFCFC;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* NEW COLORS */
	--h-info: #3183FF;
	--h-success: #61B449;
	--h-yellow: #EDD92A;
	--h-error: #FF5252;
	--h-primary: #233145;
	--h-secondary: #8E98A7;
	--h-gray: #DFE5F1;
	--h-white: #FFFFFF;
}

a {
	text-decoration: none;
}

html,
body,
:root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #fbfcfd;
	color: #1a1a1a;
}

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.Mui-error {
	color: var(--h-red-40) !important;
}

.darktheme > .MuiInputBase-input {
	color: white !important;
}

.darktheme > .MuiOutlinedInput-notchedOutline {
	border-color: rgba(255, 255, 255, 0.23) !important;
}

.multiline .MuiInputBase-root {
	background-color: #fff !important;
	min-height: 31px !important;
	padding: 12px;
	height: fit-content !important;
	border-radius: 8px 8px !important;
}

.customInput .MuiOutlinedInput-input {
	border-radius: 8px;
	height: 14px;
}

.customInput .MuiInputLabel-animated {
	color: var(--h-light) !important;
	top: -4px;
}

.customInput .MuiInputLabel-shrink {
	color: var(--h-blue-40) !important;
	top: 0px;
}

.MuiAccordion-root::before {
	display: none !important;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--h-gray-40);
	border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}